[submodule "build/snowball-js"]
	path = build/snowball-js
	url = https://github.com/mlengse/snowball-js.git
[submodule "build/stopwords-filter"]
	path = build/stopwords-filter
	url = https://github.com/brenes/stopwords-filter.git
